.DS_Store
node_modules
.worktrees
.sst
.env
.env.local
.idea
.vscode
.codex
*~
playground
tmp
dist
ts-dist
.turbo
**/.serena
.serena/
**/.omo
.omo/
/result
refs
Session.vim
/opencode.json
a.out
target
.scripts
.direnv/
node/
opencode_scripts/runs/
opencode_scripts/analysis/
opencode_scripts/analysis_scripts/__pycache__/
mcp/
bun/

# Local dev files
opencode-dev
UPCOMING_CHANGELOG.md
logs/
*.bun-build
tsconfig.tsbuildinfo
